<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<li>List popular languages for Data Science</li>
<li>Add title using Header 1 format</li>
<li>Mention data science tools in a table</li>
<li> Do math calculations</li>

Some of the popular languages that Data Scientists use are:
<ol>
<li>R</li>
<li>Python</li>
<li>Julia</li>
<li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>Matplotlib</li>
<li>SciPy</li>
    </ol>

|Data Science Tools|
--------------------
RStudio
Python
Jupyter Notebooks

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Wendy Rodr√≠guez